<mat-card class="asks-card">
  <mat-card-title>
    <mat-icon mat-list-icon svgIcon="chat-heart"></mat-icon>
    Asking Recs
  </mat-card-title>
  <mat-card-content>
    <div mat-card-avatar>
      <img alt="user avatar" src="assets/img/blank-user.png">
    </div>
    <p class="name">{{ firstName || 'N/A' }} {{ lastName || 'N/A' }}</p>
    <ul class="list01">
      <li class="relations">
        {{ data?.relations }}
        <mat-icon mat-list-icon svgIcon="double-check"></mat-icon>
      </li>
      <li class="count">999</li>
    </ul>
    <div class="ask-content">
      <p class="text01">looking for a good</p>
      <p class="text02">{{ data?.title }}</p>
    </div>
    <p class="location">
      <mat-icon mat-list-icon svgIcon="location"></mat-icon>
      {{ data?.address || 'N/A' }}
    </p>
    <p class="shared"><mat-icon mat-list-icon svgIcon="check-circle"></mat-icon> 22 shared f1 crowds</p>
    <ul class="options">
      <li>
        <mat-icon mat-list-icon svgIcon="chat-heart"></mat-icon> {{ totalRec || 0 }}
      </li>
      <li>
        <a href="javascript:void(0)" class="purple-text">RECOMMEND</a>
      </li>
    </ul>
  </mat-card-content>
</mat-card>