.c-modal-social {
  text-align: center;
  .social-list {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    li {
      flex: 1;
      list-style: none;
      span {
        display: block;
      }
      button {
        background: transparent;
        cursor: pointer;
        border-radius: 50%;
        padding: 0;
        border-color: transparent;
      }
    }
      
    @media only screen and (max-width : 768px) {
      li {
        padding: 5px;
      }

      li:first-child {
        padding-left: 0;
      }
    }
  }
}

