<zpc-non-authenticated-header-top></zpc-non-authenticated-header-top>
<main role="main">
  <section class="s-hero">
    <div class="s-hero--container">
      <div class="s-hero--content">
        <h1>Recommendations.</h1>
        <h2>From people who know you, to people who need you.</h2>
        <p>FREE. Direct. No Middleman.</p>
        <button class="btn--sm" (click)="openLoginDialog()">JOIN ZIPPIES. IT’S free</button>
      </div>
    </div>
    <div class="s-hero--bg">
      <div>
        <img src="/assets/img/bg/hero-h1.png" alt="background illustration">
        <img src="/assets/img/bg/hero-ppl.png" alt="background illustration">
        <img src="/assets/img/bg/hero-h2.png" alt="background illustration">
      </div>
    </div>
  </section>

  <section class="s-stream">
    <div class="stream-header">
      <h2 class="stream-title">Zippies in action!</h2>
      <p>
          Every day thousands of people are tapping into the power of real relationships and trusted recommendations
      </p>
    </div>
    <div class="stream-slideshow">
      <div>
        <div class="stream-column">
          <mat-card class="stream-card">
            <mat-card-title>
              <img src="/assets/img/icons/ic-create.svg" alt="create">
              <span> Open to Offers </span>
            </mat-card-title>
            <mat-card-content>
              <div>
                <span> Babysitter
                  <span>Location</span>
                </span>
              </div>
              <div>
                <div mat-card-avatar>
                  <img src="/assets/img/blank-user.png" alt="Review user image">
                </div>
                <p> John Sinna </p>
                <mat-chip-list>
                  <mat-chip>150</mat-chip>
                </mat-chip-list>
              </div>
              <!-- <mat-icon mat-list-icon svgIcon="recs-pink"></mat-icon> -->
            </mat-card-content>
          </mat-card>
          <mat-card class="stream-card">
            <mat-card-title>
              <mat-icon svgIcon="recs-pink"></mat-icon>
              <span> Asking Recommendations </span>
            </mat-card-title>
            <mat-card-content>
              <div>
                <mat-icon> format_quote</mat-icon>
                <p> Looking for a good <span> Babysitter</span></p>
              </div>
              <div>
                <div mat-card-avatar>
                  <img src="/assets/img/blank-user.png" alt="Review user image">
                </div>
                <p> John Sinna </p>
                <mat-chip-list>
                  <mat-chip>150</mat-chip>
                </mat-chip-list>
              </div>
              <!-- <mat-icon mat-list-icon svgIcon="recs-pink"></mat-icon> -->
            </mat-card-content>
          </mat-card>
          <mat-card class="stream-card">
            <mat-card-title>
              <img src="/assets/img/icons/ic-create.svg" alt="create">
              <span> Open to Offers </span>
            </mat-card-title>
            <mat-card-content>
              <div>
                <span> Babysitter
                  <span>Location</span>
                </span>
              </div>
              <div>
                <div mat-card-avatar>
                  <img src="/assets/img/blank-user.png" alt="Review user image">
                </div>
                <p> John Sinna </p>
                <mat-chip-list>
                  <mat-chip>150</mat-chip>
                </mat-chip-list>
              </div>
              <!-- <mat-icon mat-list-icon svgIcon="recs-pink"></mat-icon> -->
            </mat-card-content>
          </mat-card>
          <mat-card class="stream-card">
            <mat-card-title>
              <mat-icon svgIcon="recs-pink"></mat-icon>
              <span> Asking Recommendations </span>
            </mat-card-title>
            <mat-card-content>
              <div>
                <mat-icon> format_quote</mat-icon>
                <p> Looking for a good <span> Babysitter</span></p>
              </div>
              <div>
                <div mat-card-avatar>
                  <img src="/assets/img/blank-user.png" alt="Review user image">
                </div>
                <p> John Sinna </p>
                <mat-chip-list>
                  <mat-chip>150</mat-chip>
                </mat-chip-list>
              </div>
              <!-- <mat-icon mat-list-icon svgIcon="recs-pink"></mat-icon> -->
            </mat-card-content>
          </mat-card>
          <mat-card class="stream-card">
            <mat-card-title>
              <img src="/assets/img/icons/ic-create.svg" alt="create">
              <span> Open to Offers </span>
            </mat-card-title>
            <mat-card-content>
              <div>
                <span> Babysitter
                  <span>Location</span>
                </span>
              </div>
              <div>
                <div mat-card-avatar>
                  <img src="/assets/img/blank-user.png" alt="Review user image">
                </div>
                <p> John Sinna </p>
                <mat-chip-list>
                  <mat-chip>150</mat-chip>
                </mat-chip-list>
              </div>
              <!-- <mat-icon mat-list-icon svgIcon="recs-pink"></mat-icon> -->
            </mat-card-content>
          </mat-card>
          <mat-card class="stream-card">
            <mat-card-title>
              <mat-icon svgIcon="recs-pink"></mat-icon>
              <span> Asking Recommendations </span>
            </mat-card-title>
            <mat-card-content>
              <div>
                <mat-icon> format_quote</mat-icon>
                <p> Looking for a good <span> Babysitter</span></p>
              </div>
              <div>
                <div mat-card-avatar>
                  <img src="/assets/img/blank-user.png" alt="Review user image">
                </div>
                <p> John Sinna </p>
                <mat-chip-list>
                  <mat-chip>150</mat-chip>
                </mat-chip-list>
              </div>
              <!-- <mat-icon mat-list-icon svgIcon="recs-pink"></mat-icon> -->
            </mat-card-content>
          </mat-card>
          <mat-card class="stream-card">
            <mat-card-title>
              <img src="/assets/img/icons/ic-create.svg" alt="create">
              <span> Open to Offers </span>
            </mat-card-title>
            <mat-card-content>
              <div>
                <span> Babysitter
                  <span>Location</span>
                </span>
              </div>
              <div>
                <div mat-card-avatar>
                  <img src="/assets/img/blank-user.png" alt="Review user image">
                </div>
                <p> John Sinna </p>
                <mat-chip-list>
                  <mat-chip>150</mat-chip>
                </mat-chip-list>
              </div>
              <!-- <mat-icon mat-list-icon svgIcon="recs-pink"></mat-icon> -->
            </mat-card-content>
          </mat-card>
          <mat-card class="stream-card">
            <mat-card-title>
              <mat-icon svgIcon="recs-pink"></mat-icon>
              <span> Asking Recommendations </span>
            </mat-card-title>
            <mat-card-content>
              <div>
                <mat-icon> format_quote</mat-icon>
                <p> Looking for a good <span> Babysitter</span></p>
              </div>
              <div>
                <div mat-card-avatar>
                  <img src="/assets/img/blank-user.png" alt="Review user image">
                </div>
                <p> John Sinna </p>
                <mat-chip-list>
                  <mat-chip>150</mat-chip>
                </mat-chip-list>
              </div>
              <!-- <mat-icon mat-list-icon svgIcon="recs-pink"></mat-icon> -->
            </mat-card-content>
          </mat-card>
          <mat-card class="stream-card">
            <mat-card-title>
              <img src="/assets/img/icons/ic-create.svg" alt="create">
              <span> Open to Offers </span>
            </mat-card-title>
            <mat-card-content>
              <div>
                <span> Babysitter
                  <span>Location</span>
                </span>
              </div>
              <div>
                <div mat-card-avatar>
                  <img src="/assets/img/blank-user.png" alt="Review user image">
                </div>
                <p> John Sinna </p>
                <mat-chip-list>
                  <mat-chip>150</mat-chip>
                </mat-chip-list>
              </div>
              <!-- <mat-icon mat-list-icon svgIcon="recs-pink"></mat-icon> -->
            </mat-card-content>
          </mat-card>
          <mat-card class="stream-card">
            <mat-card-title>
              <mat-icon svgIcon="recs-pink"></mat-icon>
              <span> Asking Recommendations </span>
            </mat-card-title>
            <mat-card-content>
              <div>
                <mat-icon> format_quote</mat-icon>
                <p> Looking for a good <span> Babysitter</span></p>
              </div>
              <div>
                <div mat-card-avatar>
                  <img src="/assets/img/blank-user.png" alt="Review user image">
                </div>
                <p> John Sinna </p>
                <mat-chip-list>
                  <mat-chip>150</mat-chip>
                </mat-chip-list>
              </div>
              <!-- <mat-icon mat-list-icon svgIcon="recs-pink"></mat-icon> -->
            </mat-card-content>
          </mat-card>
          <mat-card class="stream-card">
            <mat-card-title>
              <img src="/assets/img/icons/ic-create.svg" alt="create">
              <span> Open to Offers </span>
            </mat-card-title>
            <mat-card-content>
              <div>
                <span> Babysitter
                  <span>Location</span>
                </span>
              </div>
              <div>
                <div mat-card-avatar>
                  <img src="/assets/img/blank-user.png" alt="Review user image">
                </div>
                <p> John Sinna </p>
                <mat-chip-list>
                  <mat-chip>150</mat-chip>
                </mat-chip-list>
              </div>
              <!-- <mat-icon mat-list-icon svgIcon="recs-pink"></mat-icon> -->
            </mat-card-content>
          </mat-card>
          <mat-card class="stream-card">
            <mat-card-title>
              <mat-icon svgIcon="recs-pink"></mat-icon>
              <span> Asking Recommendations </span>
            </mat-card-title>
            <mat-card-content>
              <div>
                <mat-icon> format_quote</mat-icon>
                <p> Looking for a good <span> Babysitter</span></p>
              </div>
              <div>
                <div mat-card-avatar>
                  <img src="/assets/img/blank-user.png" alt="Review user image">
                </div>
                <p> John Sinna </p>
                <mat-chip-list>
                  <mat-chip>150</mat-chip>
                </mat-chip-list>
              </div>
              <!-- <mat-icon mat-list-icon svgIcon="recs-pink"></mat-icon> -->
            </mat-card-content>
          </mat-card>
          <mat-card class="stream-card">
            <mat-card-title>
              <img src="/assets/img/icons/ic-create.svg" alt="create">
              <span> Open to Offers </span>
            </mat-card-title>
            <mat-card-content>
              <div>
                <span> Babysitter
                  <span>Location</span>
                </span>
              </div>
              <div>
                <div mat-card-avatar>
                  <img src="/assets/img/blank-user.png" alt="Review user image">
                </div>
                <p> John Sinna </p>
                <mat-chip-list>
                  <mat-chip>150</mat-chip>
                </mat-chip-list>
              </div>
              <!-- <mat-icon mat-list-icon svgIcon="recs-pink"></mat-icon> -->
            </mat-card-content>
          </mat-card>
          <mat-card class="stream-card">
            <mat-card-title>
              <mat-icon svgIcon="recs-pink"></mat-icon>
              <span> Asking Recommendations </span>
            </mat-card-title>
            <mat-card-content>
              <div>
                <mat-icon> format_quote</mat-icon>
                <p> Looking for a good <span> Babysitter</span></p>
              </div>
              <div>
                <div mat-card-avatar>
                  <img src="/assets/img/blank-user.png" alt="Review user image">
                </div>
                <p> John Sinna </p>
                <mat-chip-list>
                  <mat-chip>150</mat-chip>
                </mat-chip-list>
              </div>
              <!-- <mat-icon mat-list-icon svgIcon="recs-pink"></mat-icon> -->
            </mat-card-content>
          </mat-card>
          <mat-card class="stream-card">
            <mat-card-title>
              <img src="/assets/img/icons/ic-create.svg" alt="create">
              <span> Open to Offers </span>
            </mat-card-title>
            <mat-card-content>
              <div>
                <span> Babysitter
                  <span>Location</span>
                </span>
              </div>
              <div>
                <div mat-card-avatar>
                  <img src="/assets/img/blank-user.png" alt="Review user image">
                </div>
                <p> John Sinna </p>
                <mat-chip-list>
                  <mat-chip>150</mat-chip>
                </mat-chip-list>
              </div>
              <!-- <mat-icon mat-list-icon svgIcon="recs-pink"></mat-icon> -->
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </section>
  <section class="s-3cards">
      <div class="s-3cards--header">
        <h2 class="s-3cards--title"> The power of trusted relationships </h2>
        <p>With ZippyCrowd you get everything you need to power up real recommendations for work and business.</p>
      </div>
      <div class="s-3cards--content">
        <mat-card>
          <mat-card-content>
            <img src="/assets/img/is_1.svg" alt="Recs card image">
            <h4>Find trusted people</h4>
            <p>
              It has never been easier finding a good hairdresser, accountant, mechanic, babysitter, personal trainer &
              more...
            <mat-list>
              <mat-list-item>
                <mat-icon mat-list-icon>check_circle</mat-icon>
                <p mat-line> Create THE ASK. In seconds </p>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-icon>check_circle</mat-icon>
                <p mat-line> Share to people you trust. Easy. </p>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-icon>check_circle</mat-icon>
                <p mat-line> Get recommendations. Direct. </p>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="openLoginDialog()">Ask Recommendations</button>
          </mat-card-actions>
        </mat-card>
        <mat-card>
          <mat-card-content>
            <img src="/assets/img/is_2.svg" alt="Stand out card image">
            <h4>Stay in demand </h4>
            <p>
              Monetize any skill, talent, hobby. Get recommended by people who know you, to people who need you...
            </p>
            <mat-list>
              <mat-list-item>
                <mat-icon mat-list-icon>check_circle</mat-icon>
                <p mat-line> Create SKILL CARDS. In seconds. </p>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-icon>check_circle</mat-icon>
                <p mat-line> Promote to people you trust. In a click. </p>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-icon>check_circle</mat-icon>
                <p mat-line> Work your way. FREE. No middleman. </p>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="openLoginDialog()">Get recommended</button>
          </mat-card-actions>
        </mat-card>
        <mat-card>
          <mat-card-content>
            <img src="/assets/img/is_3.svg" alt="Become a Zippie card image">
            <h4>Spread the word</h4>
            <p>
              Recommendations create trust, remove the risk, show appreciation. Be the relationship change-maker.
            </p>
            <mat-list>
              <mat-list-item>
                <mat-icon mat-list-icon>check_circle</mat-icon>
                <p mat-line> Zip favorite people to your crowd. </p>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-icon>check_circle</mat-icon>
                <p mat-line> Get notified about new asks and skills. </p>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-icon>check_circle</mat-icon>
                <p mat-line> Recommend direct. In a few clicks. </p>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="openLoginDialog()">BE RECOMMENDER</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </section>
  <section class="s-review">
      <div class="s-review--header">
        <h2 class="s-review--title"> What our crowd says </h2>
        <p>In a crowded & competitive market trusted recommendations help cut through the noise.</p>
      </div>
      <div class="s-review--content">
        <mat-card>
          <mat-card-content>
            <p>
              <mat-icon> format_quote</mat-icon>
              ZippyCrowd has become my go to place whenever I need to find someone I can trust. It is so easy to use, no
              bids, no middlemen …nothing else in the market comes close! I love it and highly recommend!
            </p>
          </mat-card-content>
          <mat-card-header>
            <div mat-card-avatar>
              <img src="/assets/img/hp/galina.jpg" alt="Review user image">
            </div>
            <mat-card-title>Galina May </mat-card-title>
            <mat-card-subtitle>Business Owner</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <mat-card>
          <mat-card-content>
            <p>
              <mat-icon> format_quote</mat-icon>
              What a great concept, can’t believe this hasn’t been around before!
            </p>
          </mat-card-content>
          <mat-card-header>
            <div mat-card-avatar>
              <img src="/assets/img/hp/Ilya.jpg" alt="Review user image">
            </div>
            <mat-card-title>Ilya Frolov Dad,</mat-card-title>
            <mat-card-subtitle>Husband, Advisor, Investor</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <mat-card>
          <mat-card-content>
            <p>
              <mat-icon> format_quote</mat-icon>
              It is a complete game-changer! Not only all my clients can now easily recommend me to their friends, but I
              can also tap into their skills and community to find the best people. I love it!
            </p>
          </mat-card-content>
          <mat-card-header>
            <div mat-card-avatar>
              <img src="/assets/img/hp/Cycy.jpg" alt="Review user image">
            </div>
            <mat-card-title> Cycy Brie </mat-card-title>
            <mat-card-subtitle>Hairdresser & Creative Stylist</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </section>
  <section class="s-partners">
      <div class="s-partners--header">
        <h2 class="s-partners--title"> Powerful alone. Better together. </h2>
        <p>ZippyCrowd provides efficient and convenient tool, and a well organized word-of-mouth channel to leverage
          trusted recommendations</p>
      </div>
      <div class="s-partners--content">
        <div>
          <img src="https://hychill.com.au/assets/images/logo/hychill-duo-black.svg" alt="partner hychill logo">
          <img src="https://i1.wp.com/print44.eu/media/loga-firmy/logo-via-con.png" alt="partner via-con logo">
          <img src="https://www.bibaacademy.com.au/wp-content/uploads/2017/10/bibaacademy_header_logo-1.png"
            alt="partner bibaacademy logo">
          <div></div>
          <img src="https://www.vollie.com.au/uploads/organisation_logos/7747/nick-tiling-LOGO.png"
            alt="partner nick-tiling logo">
          <img src="/assets/img/partners/Logo-Google-Listing.png"
            alt="partner immersive logo">
          <img src="https://terravivagrants.org/wp-content/uploads/2019/01/ygap-logo-300x151.png" alt="partner ygap logo">
          <img src="/assets/img/partners/img-Wattrix-logo1.png"
            alt="partner Wattrix logo">
          <img src="https://www.panoplygallery.online/wp-content/uploads/2014/09/panoply-gallery-logo-e1475565151608.png"
            alt="partner panoply-gallery logo">
          <div><img src="http://yahyahfilms.com/wp-content/uploads/2018/12/cropped-yah-yah-hor-small.png"
              alt="partner yah-yah logo"></div>
          <img src="https://www.neighbourhoodconnect.org.au/wp-content/uploads/NC-e1545276681409.jpg"
            alt="partner neighbourhood connect logo">
          <div></div>
        </div>
      </div>
    </section>
  <section class="s-real">
    <div class="s-real--content">
      <h2 class="s-real--title"> Real help. Real people. Real relationships. </h2>
      <button class="btn--sm" (click)="openLoginDialog()">Get Real with ZippyCrowd</button>
    </div>
  </section>
</main>
<footer class="c-footer" role="contentinfo">
  <div class="c-footer--content">
      <a routerLink="/" class="zippycrowd-logo" title="ZippyCrowd">
        <img src="/assets/img/slogan-logo.svg" alt="ZippyCrowd Logo">
      </a>
    <mat-nav-list>
      <h5 matLine> Meet ZippyCrowd </h5>
      <a mat-list-item href="/about"> About ZippyCrowd </a>
      <a mat-list-item href="#"> Careers with us </a>
      <a mat-list-item href="#"> Contact </a>
      <a mat-list-item href="http://blog.zippycrowd.com/" target="_blank"> Blog </a>
      <a mat-list-item href="#"> Press </a>      
      <a mat-list-item href="/terms"> Terms </a>
      <a mat-list-item href="/privacy"> Privacy policy </a>
    </mat-nav-list>
    <mat-nav-list>
      <h5 matLine> Curated Crowds </h5>
      <a mat-list-item href="#"> FAQ & Help </a>
      <a mat-list-item href="#"> Ask recommendations </a>
      <a mat-list-item href="#"> Promote skills </a>
      <a mat-list-item href="#"> Curate your crowd </a>
      <a mat-list-item href="#"> Build up your Zippy Trust score </a>
    </mat-nav-list>
    <mat-nav-list>
        <h5 matLine> Follow us on </h5>
        <a mat-list-item href="https://www.facebook.com/zippycrowd/" target="_blank"><img src="/assets/img/icons/ic-fb.svg" alt="facebook">&nbsp; Facebook </a>
        <a mat-list-item href="https://twitter.com/zippy_crowd" target="_blank"><img src="/assets/img/icons/ic-twitter.svg" alt="Twitter">&nbsp; Twitter </a>
        <a mat-list-item href="https://www.instagram.com/zippycrowd" target="_blank"><img src="/assets/img/icons/ic-instagram.svg" alt="Instagram">&nbsp; Instagram </a>
        <!-- <a mat-list-item href="https://www.linkedin.com/company-beta/6643469" target="_blank"><img src="/assets/img/icons/ic-linkend.svg" alt="linkedin"> Linkedin </a> -->
      </mat-nav-list>
  </div>
  <p> © 2019 ZippyCrowd. All rights reserved. </p>
</footer>

<zpc-zc-popup-form *ngIf="!isAuth"></zpc-zc-popup-form>

<!-- <section class="c-home">
  <div class="c-home--left">
    <div>
      <h1>People you need. From people you trust.</h1>
      <p>Easily get recommendations from friends and people you trust. FREE. DIRECT. NO MIDDLEMAN.</p>
      <div class="c-home--form-wrap">
        <h4>What are you looking for?</h4>
        <zpc-new-to-zippy-crowd-section [askFormGroup]="askFormGroup" [professions]="professions$ | async"
          (askFormUpdated)="askFormUpdated($event)"></zpc-new-to-zippy-crowd-section>
      </div>
    </div>
  </div>
  <div class="c-home--right">
    <div>
      <img src="/assets/img/bg/illustration.png" alt="background illustration">
    </div>
  </div>
</section>

<section class="stream">
  <div class="stream-header">
      <h2 class="stream-title">Zippies in action!</h2>
      <p>
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
  </div>
    
    <div class="stream-slideshow">
      <div>
          <div class="stream-column"> 
              <mat-card class="stream-card">Card 1</mat-card>
              <mat-card class="stream-card">Card 2</mat-card>
              <mat-card class="stream-card">Card 3</mat-card>
              <mat-card class="stream-card">Card 4</mat-card>
              <mat-card class="stream-card">Card 5</mat-card>
              <mat-card class="stream-card">Card 6</mat-card>
              <mat-card class="stream-card">Card 7</mat-card>
              <mat-card class="stream-card">Card 8</mat-card>                          
              <mat-card class="stream-card">Card 9</mat-card>                          
              <mat-card class="stream-card">Card 10</mat-card>                          
              <mat-card class="stream-card">Card 11</mat-card>                          
              <mat-card class="stream-card">Card 12</mat-card>                          
              <mat-card class="stream-card">Card 13</mat-card>                          
              <mat-card class="stream-card">Card 14</mat-card>                          
              <mat-card class="stream-card">Card 15</mat-card>                          
          </div>
      </div>            
    </div>


</section> -->