<header role="banner" class="c-doc-header">
    <h1>
        TERMS OF USE AGREEMENT:
        <!-- <small>WWW.ZIPPYCROWD.COM</small> -->
    </h1>
</header>
<section>
    <p><b>Revised March 2019 © ZippyCrowd 2019</b></p>
    <p>
        Welcome to ZippyCrowd (the “Company” or “ZippyCrowd”).
    </p>
    <p>
        ZippyCrowd operates an online personal recommendation platform (collectively, the "Service") found at
        www.zippycrowd.com allowing users ("User" or "You") to create trusted crowds, ask for crowd recommendations,
        search for trusted skilled people, recommend trusted people to their crowds, market skills & services, post and
        share jobs and skills.
    </p>
    <p>
        By accessing the Service, whether through a mobile device or computer you agree to be bound by these Terms of
        Use (this “Agreement”), whether or not you register with ZippyCrowd. If you wish to join ZippyCrowd and use the
        Service, please read these Terms of Use as well as the ZippyCrowd Privacy Policy, which is incorporated by
        reference into this Agreement and available in the Service. If you do not accept and agree to be bound by the
        terms of this Agreement, including ZippyCrowd Privacy Policy, do not use the Service.
    </p>
    <ol>
        <li>
            <p>
                <span>Acceptance of the Terms of Use</span>
                This Agreement establishes the binding terms you accept in order to use the Service. This Agreement
                includes the Company’s Privacy Policy.
                By accessing or using the Service, you accept this Agreement and agree to the terms & conditions and
                consent to have this Agreement and all notices provided to you in electronic form. Your consent will
                cease if and when you stop using the Service and terminate your account. This Agreement may be updated
                by the Company from time to time, such updates will be effective upon Company posting the updates in the
                Service.

            </p>
        </li>
        <li>
            <p>
                <span>Eligibility</span>
                You must be at least 14 years of age to access and use the Service. By accessing and using the Service,
                you represent and warrant that you have the right, authority and capacity to enter into this Agreement
                and to abide by all of the terms and conditions of this Agreement.

            </p>
        </li>
        <li>
            <p>
                <span>Service Scope and Description</span>
                You must be at least 14 years of age to access and use the Service. By accessing and using the Service,
                you represent and warrant that you have the right, authority and capacity to enter into this Agreement
                and to abide by all of the terms and conditions of this Agreement.
            </p>
            <ol>
                <li>
                    ZippyCrowd provides an online personal recommendation platform for people to locate, keep and
                    exchange recommendations for trusted skilled people. ZippyCrowd provides the platform facility only.
                </li>
                <li>
                    Information related to the content of user profiles, posts and communication with other users is
                    supplied by the users. The Company does not have responsibility to review, approve or verify any
                    user provided information prior to publication on the Service. You agree that the Company has no
                    responsibility and makes no warranty as to the truth or accuracy of any information provided by
                    Users including, but not limited to, the ability of users to deliver skills, or the honesty and
                    accuracy of any information provided by users in their profiles and posts.
                </li>
                <li>
                    <p><span>Features:</span></p>
                    <p>
                        <strong>Account: </strong> In order to use ZippyCrowd, you have to register signing up by using
                        your social accounts, such as Google or Facebook. When you sign up with your Facebook account,
                        you authorize us to access and use certain account information, including but not limited to
                        your public profile and information about friends you might share in common with other
                        ZippyCrowd users. For more information regarding the information we collect from you and how we
                        use it, please consult our Privacy Policy.
                    </p>
                    <p>
                        <strong>Profile: </strong> You are required to display your real photo, full name name and
                        approximate location (Suburb, City, Country). You may display more information if you choose so,
                        such as skills and additional contact details.
                    </p>
                    <p>
                        <strong>Skills Cards: </strong> If you have any marketable skills, you may decide to make the
                        most out of the Service, by creating and adding up to three Skill Cards to your profile.
                    </p>
                    <p>
                        <strong>Crowd: </strong> Friends recommendations for trusted people, their reputation and
                        abilities form integral part of the Service. You are highly encouraged to invite people you know
                        and trust to join your crowd.
                    </p>
                    <p>
                        <strong>Posts: </strong> as part of the Service you can post an Ask (asking for recommendation)
                        or post a Skill (offering service) on the Service Crowdfeed. Your posts will be public, and
                        visible to your connected crowds on ZippyCrowd.
                    </p>
                    <p>
                        <strong>Recommending: ‘Recommend’ </strong> is the feature that allows you to tag any of your
                        friends on the Service into any post as way of recommendation.
                    </p>
                    <p>
                        <strong> Chats: </strong>You can communicate directly with any ZippyCrowd member via private
                        Chat service or via any other means of communication other users made available to you.
                    </p>
                    <p>
                        <strong> Notifications: </strong> You will be notified both through Notifications on your
                        account and via email linked to your account of any new messages, recommendations and crowd zips
                        you receive.
                    </p>
                </li>
            </ol>
        </li>
        <li>
            <p><span>Third Party Links</span>
                The Service may contain advertisements and promotions offered by third parties and links to other
                websites or resources. You agree that the Company does not endorse and is not responsible or liable for
                any content, advertising, goods or services, or other materials on or available from such websites or
                resources. Your dealings with third parties through the Service, are solely between you and such third
                party. You agree that the Company shall not be responsible or liable for any damage or loss caused in
                connection with the use of any such content, advertising, goods or services or other materials available
                on or through any such website or resource.</p>
        </li>
        <li>
            <p>
                <span>Your Obligations</span>
                You agree that at all times you will comply with this Agreement and all applicable laws and regulations
                and will not use the Service for any unlawful or inappropriate and immoral purpose and activities.
            </p>
            <p>You will ensure that you are aware of any laws that apply to you in relation to any way(s) that you use
                the Service.</p>
        </li>
    </ol>
    <p>
        <span>Communication with Other Users</span>
    </p>
    <p>
        You are solely responsible for your interactions with other users. The company makes no representations or
        warranties as to the backgrounds, statements and/or conduct of the users.
    </p>
    <p>In no event shall the Company, its affiliates or its partners be liable (directly or indirectly) for any losses
        or damages whatsoever, whether direct, indirect, general, special, compensatory, consequential, and/or
        incidental, arising out of or relating to the conduct of you or anyone else in connection with the use of the
        Service including, without limitation, death, bodily injury, and/or any other damages resulting from
        communications or meetings with other Service users. </p>

    <p>
        <span>Content You Post</span>
    </p>
    <p>
        You are solely responsible for the content and information that you post, display or make available on the
        Service or share with other users, including chat, photographs, or profile information, whether publicly posted
        or privately shared (collectively, “Content”).
        You must not communicate any offensive, misleading, abusive, obscene, threatening, intimidating, racially or in
        other ways offensive, or illegal material.
        You represent and warrant that all information you submit upon creation of your account is accurate and
        truthful.
        You agree that the Company may review any Content you post as part of a Service. The Company may delete any
        Content, that in the sole judgment of the Company breaches this Agreement or may harm the reputation of the
        Service or the Company.
        By posting Content as part of the Service, you automatically grant to the Company an irrevocable, non-exclusive,
        transferable, royalty-free, worldwide right and license to use, reproduce, modify and adapt the any content and
        information posted on the Service for the purpose of including that material and information on the Service and
        as otherwise may be required to provide the Service, for the general promotion of the Service and as permitted
        by this Agreement.

    </p>
    <p>
        You represent and warrant that any posting and use of your Content by the Company will not infringe or violate
        the rights of any third party, and will not be, in any way whatsoever, potentially or actually harmful to the
        Company.
    </p>
    <p>
        Following is a partial list of the kind of Content that is prohibited in the Service.
        You may not post, upload, display or otherwise make available Content that:
    </p>
    <ul>
        <li> promotes racism, hatred or physical harm of any kind against any group or individual;</li>
        <li>promotes harassment, intimidation and/or is otherwise defamatory and libellous;</li>
        <li>is intended to defraud other users of the Service;</li>
        <li>involves the transmission of “junk mail”, or unsolicited mass mailing or “spamming”;</li>
        <li>promotes false and misleading information and illegal activities or conduct;</li>
        <li>contains viruses and harmful, disruptive codes, components or devices;</li>
        <li>impersonates or misrepresents affiliation or association with any person or entity;</li>
        <li>infringe any third party's copyright, patent, trademark, trade secret or other proprietary rights or
            intellectual property rights, rights of publicity, confidentiality or privacy</li>
        <li>solicits passwords or personal identifying information for commercial or unlawful purposes from other
            users; </li>
        <li>violates any applicable law, statute, ordinance or regulation (including, but not limited to, those
            governing consumer protection, export and import control, , unfair competition, criminal law,
            antidiscrimination and trade practices/fair trading laws);
        </li>
    </ul>

    <p>
        The Company reserves the right to investigate and take any legal action against anyone who violates this
        provision, including removing the offending communication from the Service and terminating or suspending the
        account of such violators.
        Your use of the Service, including all Content you post through the Service, must comply with all applicable
        laws and regulations. You agree that the Company may access, preserve and disclose your account information and
        Content if required to do so by law or in a good faith belief that such access, preservation or disclosure is
        reasonably necessary to comply with legal process, to enforce this Agreement, to respond to claims that any
        Content violates the rights of third parties or to protect the rights, property or personal safety of the
        Company or any other person.
        You agree that Content you place on the Service may be viewed by other users and may be viewed by any person
        visiting the Service.
    </p>
    <p><span>Prohibited Activities</span></p>
    <p>
        The Company reserves the right to investigate, suspend and/or terminate your account if you have misused the
        Service or behaved in a way the Company regards as inappropriate or unlawful. The following is a partial list of
        the type of actions that you may not engage in with respect to the Service.
    </p>
    <p>
        You will not:
    </p>
    <ul>
        <li>impersonate any person or entity;</li>
        <li>post any prohibited by this Agreement Content;</li>
        <li>“stalk” or harass any person;</li>
        <li>imply that any statements you make are endorsed by the Company;</li>
        <li>use the Service in an illegal manner;</li>
        <li>use any robot, site search/retrieval application, or other device or process to retrieve, index, “data
            mine”, or in any way reproduce or circumvent the navigational structure or presentation of the Service
            or its contents;</li>
        <li>collect usernames and/or email addresses of users by electronic or other means for the purpose of
            sending unsolicited email or unauthorized linking to the Service;</li>
        <li>interfere with or disrupt the Service or the servers or networks connected to the Service;</li>
        <li>email or otherwise transmit any material that contains software viruses or any other computer code,
            files or programs designed to interrupt, destroy or limit the functionality of any computer software or
            hardware;</li>
        <li>“frame” or “mirror” any part of the Service, without the Company's prior written authorization;</li>
        <li>modify, adapt, sublicense, translate, sell, reverse engineer, decipher, decompile or otherwise
            disassemble any portion of the Service any software used on or for the Service;</li>
    </ul>

    <ol start="6">
        <li>
            <p><span>Account Term and Termination</span>
                This Agreement will remain in full force and effect while you use the Service and/or have a ZippyCrowd
                account. You may remove your account at any time by following the instructions in your account settings.
                The Company may terminate or suspend your account at any time without notice if the Company believes
                that you have breached this Agreement, or for any other reason, with or without cause, in its sole
                discretion. The Company is not required to disclose, and may be prohibited by law from disclosing, the
                reason for the termination or suspension of your account. After your account is terminated for any
                reason, the terms of this Agreement survive such termination and continue , except for any terms that by
                their nature expire or are fully satisfied.</p>
        </li>
        <li>
            <p><span>Account Security</span>
                You are responsible for maintaining the confidentiality of the password you designate during the
                registration process, and you are solely responsible for all activities that occur under your username
                and password. You agree to immediately notify the Company of any disclosure or unauthorized use of your
                username or password or any other breach of security at help@zippycrowd.com and ensure that you log out
                from your account at the end of each session.</p>
        </li>
        <li>
            <p><span>Proprietary Rights</span>
                The Company owns and retains all proprietary rights in the Service, and in all content, trade names, and
                other intellectual property rights related thereto. The Service contains the copyrighted material and
                other proprietary information of the Company. You agree to not copy, modify, transmit, create any
                derivative works from, make use of, or reproduce in any way any copyrighted material, or other
                intellectual property or proprietary information accessible through the Service, without first obtaining
                the prior written consent of the Company.
            </p>
        </li>
        <li>
            <p><span>Changes to Service</span>
                The Company reserves the right at any time to modify or discontinue the Service with or without notice.
                You agree that the Company shall not be liable to you or to any third party for any modification,
                suspension or discontinuance of the Service. To protect the integrity of the Service, the Company
                reserves the right at any time in its sole discretion to block users from certain IP addresses from
                accessing the Service.</p>
        </li>
        <li>
            <p><span>Disclaimers</span></p>
            <ul type="a">
                <li>You agree that the Company is not responsible for and shall not have any liability for any loss or
                    damage, including personal injury or death, as a result of (i) any incorrect Content posted in the
                    Service; (ii) the removal, incorrect delivery or failure to store any Content, communications or
                    personalization settings; (iii) the conduct of any user; (iv) any error or defect in user
                    communications; or (v) any technical malfunction of any computer equipment, servers or providers,
                    software, failure of email on account of technical problems in connection with the Service.
                    You agree that the Service is provided on an “AS IS” and “AS AVAILABLE” basis, and that the company
                    grants no warranties with respect to the Service, including any implied warranties of satisfactory
                    quality, fitness for a particular purpose or non-infringement. The company does not guarantee that
                    the Service will be error free, secure or uninterrupted.
                </li>
                <li>The Company may display third party content through the Service. All third party content is the
                    responsibility of the respective third party authors thereof. Such third parties are solely
                    responsible for their content. The Company does not endorse or accept responsibility for the
                    accuracy and reliability of content made by any third party through the Service. Under no
                    circumstance will the Company be responsible or liable for any loss or damage resulting from your
                    reliance on information or content posted in the Service or transmitted to or by any users.</li>
                <li>Any advice that may be posted in the Service is for informational purposes only and is not intended
                    to substitute for any professional, legal, medical, financial or other advice. The Company disclaims
                    any liability concerning any treatment, action by, or effect on any person following the information
                    offered or provided within or through the Service. </li>
            </ul>
        </li>
        <li>
            <p><span>Limitation on Liability</span>
                To the extent allowed by applicable law, the Company will not be liable to you or any third person for
                any damages, including without limitation loss or damage relating to any inaccuracy of information
                provided, or the lack of fitness for purpose of any service supplied, loss of profits, loss of goodwill,
                breaches of data or programs and service interruptions. You agree that any claim or cause of action
                related to use of the Service or Terms of this Agreement must be filed within one year after such claim
                or be forever barred.
            </p>
        </li>
        <li>
            <p><span>General</span></p>
            <p>This Agreement is governed by the laws of Victoria, Australia. You and Company submit to the exclusive
                jurisdiction of the courts of Victoria, Australia.
            </p>
            <p>This Agreement, with the Privacy Policy and any specific guidelines or rules that are separately posted
                for particular services or offers in the Service, contains the entire agreement between you and the
                Company regarding the use of the Service.
            </p>
            <p>This Agreement may be assigned or novated by the Company to a third party without your consent. In the
                event of an assignment or novation you will remain bound by this Agreement.
            </p>
            <p>If any provision of this Agreement is held invalid, the remainder of this Agreement shall continue in
                full force and effect. You agree that your online account is non-transferable and all of your rights to
                your profile or contents within your account terminate upon your death.
            </p>
            <p><small>This Agreement is subject to change by the Company at any time.
                </small></p>
            <p>Revised March 2019 © ZippyCrowd 2019
            </p>
        </li>
    </ol>
</section>
<footer class="c-footer" role="contentinfo">
    <div class="c-footer--content">

        <a routerLink="/" class="zippycrowd-logo" title="ZippyCrowd">
            <img src="/assets/img/slogan-logo.svg" alt="ZippyCrowd Logo">
        </a>

        <mat-nav-list>
            <h5 matLine> Meet ZippyCrowd </h5>
            <a mat-list-item href="/about"> About ZippyCrowd </a>
            <a mat-list-item href="http://blog.zippycrowd.com/" target="_blank"> Blog </a>
            <a mat-list-item href="/terms"> Terms </a>
            <a mat-list-item href="/privacy"> Privacy policy </a>
            <!-- <a mat-list-item href="#"> Careers with us </a>
            <a mat-list-item href="#"> Contact </a>      
            <a mat-list-item href="#"> Press </a> -->
        </mat-nav-list>
        <!-- <mat-nav-list>
            <h5 matLine> Curated Crowds </h5> -->
        <!-- <a mat-list-item href="#"> FAQ & Help </a>
            <a mat-list-item href="#"> Ask recommendations </a>
            <a mat-list-item href="#"> Promote skills </a>
            <a mat-list-item href="#"> Curate your crowd </a>
            <a mat-list-item href="#"> Build up your Zippy Trust score </a> 
          </mat-nav-list>-->
        <mat-nav-list>
            <h5 matLine> Follow us on </h5>
            <a mat-list-item href="https://www.facebook.com/zippycrowd/" target="_blank"><img
                    src="/assets/img/icons/ic-fb.svg" alt="facebook">&nbsp; Facebook </a>
            <a mat-list-item href="https://twitter.com/zippy_crowd" target="_blank"><img
                    src="/assets/img/icons/ic-twitter.svg" alt="Twitter">&nbsp; Twitter </a>
            <a mat-list-item href="https://www.instagram.com/zippycrowd" target="_blank"><img
                    src="/assets/img/icons/ic-instagram.svg" alt="Instagram">&nbsp; Instagram </a>
            <!-- <a mat-list-item href="https://www.linkedin.com/company-beta/6643469" target="_blank"><img src="/assets/img/icons/ic-linkend.svg" alt="linkedin"> Linkedin </a> -->
        </mat-nav-list>
        <mat-nav-list></mat-nav-list>
    </div>
    <p> © 2019 ZippyCrowd. All rights reserved. </p>
</footer>