<div class="p-dashboard">
    <h4> Welcome {{userName}} ! Stand out with your crowd!</h4>
  <div>
    <div class="o-skillrecs">
      <zpc-skill-recs></zpc-skill-recs>
    </div>
    <div class="o-recs">
      <zpc-crowd-recs></zpc-crowd-recs>
    </div>
    <div class="o-reputation">
      <zpc-reputation></zpc-reputation>
    </div>
    <div class="o-mycrowd">
      <zpc-crowd-trust></zpc-crowd-trust>
    </div>
    <div class="o-skill">        
      <zpc-skill-cards></zpc-skill-cards>
    </div>
    <div class="o-asks">       
      <zpc-my-asks></zpc-my-asks>
    </div>
  </div>
</div>