.crowd-zip-wrap {
  width: 600px;
  position: relative;
  .search-bar {
    position: relative;
    padding: 0 30px 20px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.06);
    input {
      padding: 11px 40px 11px;
      outline: 0;
      width: 100%;
      background: #F5F6F9;
      border: 1px solid #DFE6EE;
      box-sizing: border-box;
      border-radius: 22px;
    }
    .search-icon {
      display: block;
      position: absolute;
      color: #DADADA;
      width: 47px;
      height: 35px;
      top: 7px;
      left: 31px;
      text-align: center;
      border-radius: 20px;
    }
    .at-icon {
      position: absolute;
      right: 43px;
      top: 8px;
      .mat-icon {
        width: 20px;
      }
    }
  }
  .crowd-list {
    overflow: auto;
    min-height: 60px;
    max-height: 203px;
    margin-right: 5px;
    img {
      width: 41px !important;
      border-radius: 50%;
      background-image: url("/assets/img/icons/ic-circle.svg");
      background-size: 100%;
      padding: 5px;
      margin-right: 10px;
    }
    .list-item-content {
      width: 61%;
    }
    .name {
      color: #000;
      padding-right: 10px;
    }
    .green-text {
      padding-right: 5px;
    }
    .count {
      background: #762FE6;
      border-radius: 100px;
      color: #fff;
      padding: 5px 7px;
      font-size: 12px;
      font-weight: bold;
    }
    .mat-list-item {
      height: 75px;
      border-bottom: 1px solid #E2E2E2;
      margin: 0 15px;
      width: calc(100% - 30px);
    }
    .mat-list-item:last-child {
      border-bottom: none;
    }
    .mat-tab-labels {
      margin-top: 20px;
      > div:last-child {
        margin-bottom: 0;
      }
    }
    .btn-purple-sm {
      position: relative;
      right: -10px;
      .mat-list-icon {
        position: relative;
        top: -2px;
      }
    }
    .loader {
      margin-top: 50px;
    }
  }
  ::-webkit-scrollbar {
    width: 7px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  ::-webkit-scrollbar-thumb {
    background: #B0BAC5; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #B0BAC5; 
  }
  .invite-wrap {
    h6 {
      color: #000;
      text-align: center;
      font-weight: bold;
    }
    ul {
      overflow: hidden;
      padding-left: 0;
      li {
        list-style: none;
        float: left;
        padding: 15px;
        button {
          line-height: 33px;
          padding: 4px 9px;
          overflow: hidden;
          background: #FFFFFF;
          border: 1px solid #E2E2E2;
          box-sizing: border-box;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
          border-radius: 4px;
          cursor: pointer;
          img {
            float: left;
            margin-right: 8px;
          }
        }
      }
      li:first-child {
        padding-left: 0;
        line-height: 44px;
        color: #000;
      }
    }
  }
  .noF2 {
    padding: 0 30px;
  }
}
.text-center {
  text-align: center;
}