@import '~assets/stylesheets/scss/variables';
@import '~assets/stylesheets/scss/main';

.mat-card {
  height: 100%;  
  display: flex;
  flex-direction: column;

  .mat-card-header {
      flex: 0 0 64px;
      padding: 1rem 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      text-transform: uppercase;
      text-align: center;

      ::ng-deep  .mat-card-header-text {
          margin-right: 20px;

          .mat-card-title {
            margin-bottom: 0;
          }
      }

      p {
        color: #9EADC6;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        padding-top: 2px;
        text-transform: initial;

        span:first-child {
          color: #34B97B;
        }
      }
  } 
  .mat-card-content {
      flex: 1;
  }   
}

.mat-list {
  padding-top: 0;

  .skillItems {
    border: 1px dashed #E6E6E6;
    margin-bottom: 9px;
    background-color: #fbfbfb;
    padding: 16px 0;
    height: auto !important;

    &:hover {
      background-color: #fff;
      border-color: transparent;

      h4 {
        color: #862BFF !important;
      }
    }

    ::ng-deep  .mat-list-item-content {
      .mat-list-text {

        h4 {
          color: #354052;
          font-size: 18px;
          font-weight: 500;
          line-height: 23px;
          margin-bottom: 4px;
        }
  
        > div {
          display: flex;
  
          > .recs, > .friends {
            margin-right: 20px;
            display: flex;
            align-items: center;

            @include bp-small {
              margin-right: 30px;
            }
  
            img {
              margin-right: 1px;
              @include bp-small {
                margin-right: 10px;
              }
            }
  
            span {
              color: #6C80A1;
              font-size: 14px;
              font-weight: 300;
              line-height: 18px;
              margin-top: auto;
            }
          }
  
          > .new {
            align-self: center;
            margin-left: auto;
          
            span {
              color: #F87191;
              font-size: 12px;
              font-weight: 500;
              padding: .185em .45em;
              border-radius: 12.5px;
              background-color: rgba(248,113,143,0.2);
              display: inline;
              line-height: 15px;
            }
          }
        }
      }

    } 
  }

  .addSkill {
    border: 1px dashed #E6E6E6;
    margin-bottom: 9px;
    background-color: #fbfbfb;
    height: 82px !important;
    padding: 0;
    text-align: center;

    p {
      color: #1AB169;
      font-size: 16px !important;
      font-weight: 300 !important;
      line-height: 20px;

      span {
        border: 1px solid #E6E6E6;
        border-radius: 17.5px;
        box-sizing: border-box;
        height: 31px;
        width: 31px;
        display: inline-block;
        padding-top: 4px;
        margin-right: 20px;
      }
    }
  }
}

.noSkills {
  color: #6C80A1;
  font-size: 14px;
  text-align: center;
}