.confirmBtn {
  background: #762FE6;
  border-radius: 26px;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 17px 58px;
  font-size: 15px;
  text-transform: uppercase;
  display: block;
  margin: 20px auto 0;
}