<header role="banner" class="c-doc-header">
    <h1>
        ABOUT
    </h1>    
    <p>The Power of Trusted Relationships </p>
</header>
<section>
    <h4>Why recommendation is the key </h4>
    <img style="float: right" width="30%" src="/assets/img/bg/home-4.svg">
    <p>
        Throughout the history people have used word-of-mouth as the easiest way to make decisions. Jobs big or small,
        tasks, errands, gigs or personal services – they all require someone who is the right fit, and whom you can
        trust, especially if you need to let them into your personal space.
    </p>
    <p>In today’s society, everyone - you, me, our favorite hairdresser or accountant - are fighting for attention,
        trying to break through the noise and clutter of the crowded and brutally competitive online space. Getting
        noticed in the noise is incredibly hard, if not impossible.</p>
    <p>
        <span>Everyone is having it tough.</span>
    </p>
    <ul>
        <li>People’s profiles, skills and services are scattered across numerous job sites, service platforms,
            marketplaces, professional networks, groups, social sites. </li>
        <li>Professionals, self-employed, freelancers are struggling to promote themselves.</li>
        <li>The hunt for the right person is a draining, tedious, extremely time-consuming and totally inefficient
            process of phone calls, messages, social posts, searches, reading reviews - all done in an attempt to
            mitigate the risk of letting some stranger into your business or personal space. </li>
        <li>The potential of skills and recommendations within personal networks is massively underutilized.</li>
    </ul>
    <p>
        <span>At ZippyCrowd, we believe there is a better way.</span>
        Our easy to use, online recommendation tool and platform helps you find people you need, and get recommended by
        people you trust.</p>
    <p>Here are a few of the many things that you can expect: </p>
    <ul>
        <li>The ability to find, promote and monetize any skill and service</li>
        <li>Recommendations from within your crowd and personal networks</li>
        <li>Tools to help you keep all recommendations in one place, at your fingertips, organized - never forgetting
            the name of a tradie, or losing a business card</li>
    </ul>
    <p>ZippyCrowd is a game changer, a leap forward. Far easier to sift through and get to the right person than social
        sites with their collections of selfies, likes and “eyeballs”. Far more personal than various marketplaces that
        view people as prospects, bids, and one off faceless transactions.</p>
    <p>We founded ZippyCrowd to unlock the power of your trusted relationships .</p>
    <p>We designed ZippyCrowd to be friendly, smart and helpful. To cut through the noise, eliminate the risk, give you
        an edge, and make your life a little less stressful.</p>
    <p>We are cracking the code of personal recommendations, and adding more features as we go, to help you focus on the
        people that matter. </p>
    <p>We are a team of passionate thinkers, askers, doers and recommenders. At our core, we believe: </p>
    <ul>
        <li>that one trusted recommendation can create hundreds of opportunities</li>
        <li>that <b>“trust”</b> doesn’t show up in the results when searching for a good babysitter, hairdresser,
            accountant, mechanic, personal trainer, tradie and more </li>
        <li>that recommending forward is good for the soul and real relationships</li>
    </ul>
    <p>We’re just getting started, and we want to invite you to join us on a change-making journey.</p>
    <p>
        Your Zippy friends,
        <b>Allie, Andriy, Yulia</b> and <b>Mario</b>
    </p>
    <img style="float: right;width: 40%;" src="/assets/img/bg/hero-h2.png">
 </section>
 <footer class="c-footer" role="contentinfo">
        <div class="c-footer--content">
         
            <a routerLink="/" class="zippycrowd-logo" title="ZippyCrowd">
              <img src="/assets/img/slogan-logo.svg" alt="ZippyCrowd Logo">
            </a>
       
          <mat-nav-list>
            <h5 matLine> Meet ZippyCrowd </h5>
            <a mat-list-item href="/about"> About ZippyCrowd </a>
            <a mat-list-item href="http://blog.zippycrowd.com/" target="_blank"> Blog </a>
            <a mat-list-item href="/terms"> Terms </a>
            <a mat-list-item href="/privacy"> Privacy policy </a>
            <!-- <a mat-list-item href="#"> Careers with us </a>
            <a mat-list-item href="#"> Contact </a>      
            <a mat-list-item href="#"> Press </a> -->
          </mat-nav-list>
          <!-- <mat-nav-list>
            <h5 matLine> Curated Crowds </h5> -->
            <!-- <a mat-list-item href="#"> FAQ & Help </a>
            <a mat-list-item href="#"> Ask recommendations </a>
            <a mat-list-item href="#"> Promote skills </a>
            <a mat-list-item href="#"> Curate your crowd </a>
            <a mat-list-item href="#"> Build up your Zippy Trust score </a> 
          </mat-nav-list>-->
          <mat-nav-list>
            <h5 matLine> Follow us on </h5>
            <a mat-list-item href="https://www.facebook.com/zippycrowd/" target="_blank"><img src="/assets/img/icons/ic-fb.svg" alt="facebook">&nbsp; Facebook </a>
            <a mat-list-item href="https://twitter.com/zippy_crowd" target="_blank"><img src="/assets/img/icons/ic-twitter.svg" alt="Twitter">&nbsp; Twitter </a>
            <a mat-list-item href="https://www.instagram.com/zippycrowd" target="_blank"><img src="/assets/img/icons/ic-instagram.svg" alt="Instagram">&nbsp; Instagram </a>
            <!-- <a mat-list-item href="https://www.linkedin.com/company-beta/6643469" target="_blank"><img src="/assets/img/icons/ic-linkend.svg" alt="linkedin"> Linkedin </a> -->
          </mat-nav-list>
          <mat-nav-list></mat-nav-list>
        </div>
        <p> © 2019 ZippyCrowd. All rights reserved. </p>
      </footer>
      