<header role="banner" class="c-doc-header">
    <h1>
        ZIPPYCROWD, PRIVACY POLICY
    </h1>
    <p>Last update: March, 2019 </p>
</header>
<section>
    <p>
        Please read this policy carefully to understand our policies and practices regarding your information and how we
        will treat it. If you do not agree with our policies and practices, your choice is not to use zippycrowd.com
        ("Site"). By accessing or using this Site, you agree to this privacy policy. This policy may change from time to
        time. Your continued use of this Website after we make changes is deemed to be acceptance of those changes, so
        please check the policy periodically for updates.

    </p>
    <h4>Children under the age of 14</h4>
    <p>
        Our Website is not intended for children under 14 years of age. No one under age 14 may provide any personal
        information to or on the Site. We do not knowingly collect personal information from children under 14. If you
        are under 14, do not use or provide any information about yourself, including your name, address, telephone
        number, e-mail address or any screen name or user name you may use on this Website. If we learn we have
        collected or received personal information from a child under 14, we will delete that information.

    </p>
    <h4>About our Privacy Policy</h4>
    <p>Our mission is to help people easily find and access trusted recommendations from within their personal networks.
        For that reason we have created a personal recommendation platform for skills and services, where you can
        showcase skills & services, and share recommendations within your crowd. This policy describes what information
        we collect and how it is used and shared.
    </p>
    <h4>Information we collect
    </h4>

    <p>
        <span>From and about you</span>
        We collect the content and information you provide when you become ZippyCrowd member. The information you
        provide when you create your account may include your photo, your name, email, location, contact number, short
        bio and skills. We also collect content and information you share and communicate with other members.
    </p>


    <p>
        <span>From and about others</span>
        We collect the content and information that other people provide when they use our Services, including
        information about you, such as when they recommend you into an Ask post, share your posts with their ZippyCrowd
        friends and their social networks, send a message to you, or zip you to their crowds of trusted and recommended
        people.</p>


    <p>
        <span>From and about people you are connected here</span>
        We collect information about the people you are connected to (Your Crowds) and how you interact with them, such
        as the people you communicate with the most or recommend them by zipping to your crowd and recommending them
        into posts. </p>

    <p>
        <span>Devices you use to access</span>
        We collect information from or about the computers, phones, or other devices where you access our Services. Here
        are some examples of the device information we collect:
    </p>
    <ul>
        <li>Attributes such as the operating system, hardware version, device settings, file and software names and
            types, battery and signal strength, and device identifiers.
        </li>
        <li>Device locations, including specific geographic locations, such as through GPS, Bluetooth, or WiFi
            signals.
        </li>
        <li>Connection information such as the name of your mobile operator or ISP, browser type, mobile phone
            number and IP address.</li>
    </ul>
    <p>
        <span>Third Party Websites
        </span>
        There may be some places on our service where you may click on a link to access third party websites that
        operate under their own Privacy Policies, and may independently solicit and collect information. For example, if
        you click on an advertisement on our Service, you may be taken to a website that we do not control. We recommend
        that you view the privacy policies of all third-party websites you visit.
    </p>
    <p>We may allow service providers, advertising companies and ad networks, and other third parties to display
        advertisements on our Service. These companies may use tracking technologies, such as cookies or web beacons, to
        collect information about users who view or interact with their advertisements. We do not provide any
        non-anonymized personal information to third parties.
    </p>
    <h4>How we track data</h4>
    <p>We use various technologies to collect information from your device and about your activities on our Site.
    </p>
    <p>
        <span>Information collected automatically.</span>
        We automatically collect information from your browser or device when you visit our Site. This information could
        include your IP address, device ID and type, your browser type and language, the operating system used by your
        device, access times, your mobile device’s geographic location while our application is actively running, and
        the referring website address.
    </p>
    <p>
        <span>Cookies and Use of Cookie Data. </span>
        When you visit the Site, we may use industry-wide technologies such as "cookies", which store certain
        information on your computer and which will allow us to enable automatic sign-in to the Site, make your browsing
        much more convenient and allow us to offer you personalized experience on the Site. Cookies (which may be html
        files, Flash files or other technology) are text files that help store user preferences and activity. The Site
        uses cookies to collect statistical data about its use, to tailor the Site's functionality to suit personal
        preferences and to assist with various aspects of Site operation. These files contain a variety of information
        such as information about web pages visited by you, the length of time you visited certain sites, data about how
        you came to visit particular sites, the scope and nature of those sites, areas viewed by you, and additional
        information.
    </p>
    <p>
        <span>Blocking Cookies</span>
        You may set your browser to block all cookies, including cookies associated with our services, or to indicate
        when a cookie is being set by us. However, it's important to remember that many of our services may not function
        properly if your cookies are disabled. For example, cookies may, in certain cases, save you from the need to
        enter usernames and passwords, and allow session continuity.
    </p>
    <h4>How we use the information we collect</h4>
    <p>All information we collect helps us provide, develop and further improve ZippyCrowd Site. By using this
        information we are able to help you connect with people who are important to you, find trusted skilled people &
        recommendations you are interested in, and make suggestions for you how to get the most out of our Site. We are
        able to add social validation of your skills, services and searches through features such as your Reputation
        rating. We also collect your feedback, test features, conduct troubleshooting and analyze the information we
        have to improve and add features and services to improve opportunities for you on ZippyCrowd.
    </p>
    <p>
        In order for us to provide you with our core services for free, we do need a stream of income from advertising.
        Our promise to you is to display to you as few and as relevant ads as possible. Our core services are always
        free. Your information allows us to tailor advertising and to show you the most relevant and sponsored content
        and promotions.
    </p>
    <p>The information we collect about you to will be used to:
    </p>
    <ul>
        <li>manage your account and provide you with customer support;
        </li>
        <li>add social validation of your skills, services and Reputation rating through features such as “Zip to my
            crowd”, “Asking Recommendations (Asking Recs)”, “Open to Offers” and “Recommend”</li>
        <li>perform research and analysis about your use of, or interest in, our or other's products, services, or
            content;</li>
        <li>communicate with you by email, postal mail, telephone and/or mobile devices about products or services that
            may be of interest to you either from us or other third parties;</li>
        <li>send you important updates about our Site, policies, new features, hot deals & promotional stuff;</li>
        <li>develop, display, and track content and advertising tailored to your interests on our Site and other sites,
            including providing our advertisements to you when you visit other sites;</li>
        <li>conduct website or mobile application analytics;</li>
        <li>enforce or exercise any rights in our <a href="/terms" title="Terms of Use">Terms of Use</a> and</li>
        <li>perform functions or services as otherwise described to you at the time of collection.
        </li>
    </ul>
    <h4>How this information is shared </h4>
    <p>We provide areas on our Site where you can post information about yourself and others and communicate with
        others. Such postings are governed by our <a href="/terms" title="Terms of Use">Terms of Use</a>. Also, whenever
        you voluntarily disclose personal
        information on publicly-viewable pages, that information will be publicly available and can be collected and
        used by others. For example, if you post your email address, you may receive unsolicited messages. We cannot
        control who reads your posting or what other users may do with the information you voluntarily post, so we
        encourage you to exercise discretion and caution with respect to your personal information.
    </p>
    <p>People use our Site to curate trusted crowds, and find, exchange and share recommendations for trusted people,
        skills and services.<br>
        We provide areas on our Site where you can post information about yourself, post Asks, promote Skills, and
        communicate with others. Such postings are governed by our <a href="/terms" title="Terms of Use">Terms of
            Use</a>.
        We make this possible by sharing your information in the following ways:
    </p>
    <p>
        <span>People you share and communicate with.
        </span>
        When you join our Site, your ZippyCrowd proﬁle will be viewable by other users of the Site. Other users will be
        able to view information you have provided to us directly and/or through your Facebook, account such as your
        profile photo, full name, personal description and approximate location (postcode, suburb, country). You can
        communicate with any member of ZippyCrowd with via internal chat service . Your Posts are displayed on site
        Crowdfeed, and are visible to all ZippyCrowd members. In some cases, people may re-share your posts or chat
        content with others on and off our Site.
    </p>
    <p>
        <span>Sharing With Third-Party Partners and Customers
        </span>
        We work with third party advertising & analytics companies who help us provide and improve our services or who
        use advertising or related products, which makes it possible to operate our companies and provide free core
        services to people. We believe the ads you see have to be both interesting and relevant to the core nature of
        our services. With this in mind, we use the information we have about you to show you relevant ads. We do not
        share any personally identifiable information with third parties, but rather aggregated information about the
        reach and effectiveness of their ads.
    </p>
    <p>
        <span>How we protect your personal information
        </span>
        We take security measures to protect your personal information. However, no system can be completely secure.
        Therefore, we cannot guarantee that your personal information, chats, or other communications will always remain
        secure. Although we take steps to secure your information, Users should also take care with how they handle and
        disclose their personal information and should avoid sending personal information through insecure email.

    </p>
    <h4>How you can manage or delete your information</h4>
    <p>You can manage the content and information you share through your Profile & Account Settings. <br>
        We store data for as long as it is necessary to continue providing our services. Information associated with
        your account will be kept until your account is deleted.
        You can choose not to provide us with certain information, but that may result in you being unable to use
        certain features of our Site because such information may be required in order for you to register as user,
        promote your services, or initiate other transactions.
    </p>
    <p>Our Site may also deliver notiﬁcations to your phone or mobile device.</p>
    <p>You may close or temporarily deactivate your account at any time by visiting the your account Settings. If you
        close your account, we will retain certain information associated with your account for analytical purposes and
        recordkeeping integrity, as well as to prevent fraud and enforce our <a href="/terms" title="Terms of Use">Terms
            of Use</a>.
    </p>
    <p>Important to note that information that others have shared about you is not part of your account and will not be
        deleted when you delete your account. In addition, if certain information has already been provided to third
        parties as described in this Privacy Policy, retention of that information will be subject to those third
        parties' policies.</p>
    <h4>Law & Privacy </h4>
    <p>We may access, preserve and share your information in response to a formal legal request (like a search warrant,
        court order or subpoena). We may also access, preserve and share information when we have a good faith belief it
        is necessary to: detect, prevent and address fraud and other illegal activity; to protect ourselves, you and
        others, including as part of investigations; or to prevent death or imminent bodily harm. For example, we may
        provide information to third-party partners about the reliability of your account to prevent fraud and abuse on
        and off of our Site. </p>
    <h4>How we tell you about the changes </h4>
    <p>We will occasionally update this Privacy Policy. We’ll notify you when we post changes. We recommend that you
        check our Site from time to time to inform yourself of any changes in this Privacy Policy or any of our other
        policies.
    </p>
    <h4>Got any Questions?
    </h4>
    <p>If you have any questions (or comments) concerning this Privacy Policy, please email us at help@zippycrowd.com
    </p>
</section>
<footer class="c-footer" role="contentinfo">
    <div class="c-footer--content">

        <a routerLink="/" class="zippycrowd-logo" title="ZippyCrowd">
            <img src="/assets/img/slogan-logo.svg" alt="ZippyCrowd Logo">
        </a>

        <mat-nav-list>
            <h5 matLine> Meet ZippyCrowd </h5>
            <a mat-list-item href="/about"> About ZippyCrowd </a>
            <a mat-list-item href="http://blog.zippycrowd.com/" target="_blank"> Blog </a>
            <a mat-list-item href="/terms"> Terms </a>
            <a mat-list-item href="/privacy"> Privacy policy </a>
            <!-- <a mat-list-item href="#"> Careers with us </a>
            <a mat-list-item href="#"> Contact </a>      
            <a mat-list-item href="#"> Press </a> -->
        </mat-nav-list>
        <!-- <mat-nav-list>
            <h5 matLine> Curated Crowds </h5> -->
        <!-- <a mat-list-item href="#"> FAQ & Help </a>
            <a mat-list-item href="#"> Ask recommendations </a>
            <a mat-list-item href="#"> Promote skills </a>
            <a mat-list-item href="#"> Curate your crowd </a>
            <a mat-list-item href="#"> Build up your Zippy Trust score </a> 
          </mat-nav-list>-->
        <mat-nav-list>
            <h5 matLine> Follow us on </h5>
            <a mat-list-item href="https://www.facebook.com/zippycrowd/" target="_blank"><img
                    src="/assets/img/icons/ic-fb.svg" alt="facebook">&nbsp; Facebook </a>
            <a mat-list-item href="https://twitter.com/zippy_crowd" target="_blank"><img
                    src="/assets/img/icons/ic-twitter.svg" alt="Twitter">&nbsp; Twitter </a>
            <a mat-list-item href="https://www.instagram.com/zippycrowd" target="_blank"><img
                    src="/assets/img/icons/ic-instagram.svg" alt="Instagram">&nbsp; Instagram </a>
            <!-- <a mat-list-item href="https://www.linkedin.com/company-beta/6643469" target="_blank"><img src="/assets/img/icons/ic-linkend.svg" alt="linkedin"> Linkedin </a> -->
        </mat-nav-list>
        <mat-nav-list></mat-nav-list>
    </div>
    <p> © 2019 ZippyCrowd. All rights reserved. </p>
</footer>